__pycache__/
.vscode/
.idea/
.spyproject/
*.code-workspace
*.ssmssln
*.ssmssqlproj

data/analyze/
docker/
mlflow/mlruns/
mlflow/mlregistry.db
tensorboard/
temp/
trash/

vessel_utilize/checks/test.file
!vessel_utilize/data
!vessel_utilize/model
