__pycache__/
.idea/
.spyproject/
*.ssmssln
*.ssmssqlproj

data/analyze/
docker/
mlflow/mlruns/
mlflow/mlregistry.db
tensorboard/
temp/
trash/

vutilize/checks/test.file
!vutilize/data
!vutilize/model
